<h2 class="mat-display-2">Warenkorb</h2>

<div *ngIf="response">
  <div *ngIf="cart.length > 0; else elseBlock">
    <table>
      <tr>
        <th>Titel</th>
        <th>Preis</th>
        <th></th>
      </tr>
      <tr *ngFor="let item of cart; index as i">
        <td>
          {{
            articles[item.category].gruppe[item.subCategory].artikel[
              item.i
            ].titel
          }}
        </td>
        <td>
          {{
            articles[item.category].gruppe[item.subCategory].artikel[
              item.i
            ].preis
          }}
          €
        </td>
        <td>
          <button
            mat-raised-button
            class="btnToDeleteFromCart"
            (click)="deleteItemFromCart(i)"
          >
            🗑️
          </button>
        </td>
      </tr>
    </table>

    <mat-toolbar>
      <button mat-raised-button routerLink="/">Zurück zum Shop</button>
      <button mat-raised-button (click)="emptyCart()" color="warn">
        Warenkorb leeren
      </button>
      <button mat-raised-button class="btnOrder">
        Bestellen
      </button>
    </mat-toolbar>
  </div>
  <ng-template #elseBlock>
    <p>Der Warenkorb ist leer.</p>
  </ng-template>
</div>
