table {
  text-align: right;
  border-collapse: collapse;
  width: 100%;
  margin: 2.5rem 0;
}
td,
th {
  border-collapse: collapse;
  padding: 0.5rem;
}
th {
  background-color: #212121;
}

td:first-child,
th:first-child {
  text-align: left;
}

td:last-child {
  cursor: pointer;
}

.mat-toolbar {
  justify-content: space-between;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0;
}

.btnOrder {
  background: steelblue;
}

.btnToDeleteFromCart:hover {
  background: #f44336;
}
