<h2>Das Produkt wurde zum Warenkorb hinzugefügt:</h2>
<div>
  <div>
    <!-- SPIELE -->
    <div>
      <table>
        <tr>
          <th>Titel</th>
          <th>Jahr</th>
          <th>Publisher</th>
          <th>Preis</th>
        </tr>
      </table>
    </div>
    <!-- BÜCHER -->
    <div>
      <table>
        <tr>
          <th>Autor</th>
          <th>Titel</th>
          <th>Jahr</th>
          <th>Seiten</th>
          <th>Verlag</th>
          <th>Preis</th>
        </tr>
      </table>
    </div>
    <!-- AUDIO-BOOKS -->
    <div>
      <table>
        <tr>
          <th>Autor</th>
          <th>Titel</th>
          <th>Jahr</th>
          <th>Länge</th>
          <th>Verlag</th>
          <th>Preis</th>
        </tr>
      </table>
    </div>
  </div>
  <div>
    <!-- SCHUHE -->
    <div>
      <table>
        <tr>
          <th>Titel</th>
          <th>Hersteller</th>
          <th>Preis</th>
        </tr>
      </table>
    </div>
    <!-- GERÄTE -->
    <div>
      <table>
        <tr>
          <th>Titel</th>
          <th>Beschreibung</th>
          <th>Preis</th>
        </tr>
      </table>
    </div>
  </div>
</div>
<p>
  <a>Zum Warenkorb</a>
</p>
<p>
  <a>Zurück zum Shop</a>
</p>
