#container {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 95%;
  margin: 0 auto;
}
h2 {
  font-size: 90%;
}
nav div {
  border: 1px solid grey;
  padding: 10px 20px;
  background-color: lightgrey;
  cursor: pointer;
  float: left;
}
nav div.selected {
  background-color: #ddd;
  color: grey;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
