table {
  text-align: right;
  border-collapse: collapse;
  width: 100%;
  margin: 2.5rem 0;
}
td,
th {
  border-collapse: collapse;
  padding: 0.5rem;
}
th {
  background-color: #212121;
}
tr:hover {
  color: steelblue;
}

td:first-child,
th:first-child {
  text-align: left;
  border-radius: 0.25rem 0 0 0.25rem;
}
td:last-child,
th:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

td:last-child {
  cursor: pointer;
}
.mat-form-field {
  margin-right: 2.5rem;
}

.btnAddToCart:hover {
  background: steelblue;
}
